body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: url('Designer (3).png') no-repeat center center fixed;
    background-size: cover;
    color: #000; /* Set text color to white */
}

header {
    background: none
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin: 0;
    color: #fff; /* Set text color to white */
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: #fff; /* Set link text color to white */
    text-decoration: none;
}

main {
    padding: 2rem;
    color: #fff; /* Set main content text color to white */
}

section {
    margin-bottom: 2rem;
}

footer {
    background: none
    color: #000;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

